body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}
body {
    background-color: #beabab;
}

.navbar {
    background-color: antiquewhite
    ;
}